.footer1{
	height: 215px;
	/*background: red;*/
}
.footer1_top{

}
.footer2{
	background: #f5f5f5;

}
.footer2_cont{
	/*height: 215px;*/
}
.footer1_top{
	border-bottom: 1px solid #ccc;
}
.footer1_top li{
	float: left;
	list-style: none;
	margin:20px 0px;
	padding: 0px 49px;
	border-right: 1px solid #ccc;
}
.footer1_bot_left{
	width: 750px;
	height: 130px;
	/*background: red;*/
	border-right:1px solid #ccc;
}
.footer1_bot_right{
	width: 229px;
	height: 130px;
	/*background: green;*/
	text-align: center;
	
}
.footer1_bot_left ul{
	float: left;
	margin-left: 70px;
    margin-top: 30px;
}
.footer1_bot_left ul li{
	list-style: none;
}
.footer1_bot_right div{
	width: 200px;
	margin:30px auto;
	/*background: red;*/

}
.mi_logo{
	background: rgb(255, 107, 0);
	width: 43px;
	height: 43px;
	color: white;
	font-size: 30px;
}
.footer2_cont{
	padding-top: 20px;
}
.footer_caitoner{

	font-size: 12px;
}
.footer_caitoner span{
	color: red;
	text-decoration: none;
}
a{
	text-decoration: none;
}